.TodoModal {
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.wrapper {
    background: #f1f3f5;
    position: absolute;
    margin-top: 50px;
    width: 60%;
    height: 60%;
    border-radius: 3px;
    padding-left: 30px;
}

.header {
    display: flex;
    margin-top: 20px;
}

.header h3 {
    flex: 1
}

.button { 
    font-size: 1.5rem;
    margin-right: 30px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);  
}

.content {
    margin-top: 10px;
}
.title{
    font-size: 1.25rem;
    outline-color: #ffc9c9;
    border: none;
    border-radius: 3px;
    width: 80%;
    height: 30px;
}

.body {
    font-size: 15px;
    outline-color: #ffc9c9;
    border: none;
    border-radius: 3px;
    width: 80%;
    height: 100px;
    word-wrap: break-word;
}

.submit {
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);
    color: #ffc9c9;
}